@import "../variables";

.add_button {
  display: flex;
  justify-content: center;
}

.form_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
